In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType, FloatType, DateType

In [2]:
spark = SparkSession.builder.appName("property_analysis").getOrCreate()

In [3]:
raw_df = spark.read.parquet("gs://airbnb_listing_analysis/raw_parquet")

In [4]:
raw_df.show()

+----------+--------------------+---------+----------+------------------+------------------+--------------------+-----------------+-------------------------+----------------------+-----------------+-------------+--------------+--------------------+------------+------------+--------+-----+--------------------+
|listing_id|                name|  host_id|host_since|host_response_time|host_response_rate|host_acceptance_rate|host_is_superhost|host_total_listings_count|host_identity_verified|    neighbourhood|     district|          city|       property_type|   room_type|accommodates|bedrooms|price|review_scores_rating|
+----------+--------------------+---------+----------+------------------+------------------+--------------------+-----------------+-------------------------+----------------------+-----------------+-------------+--------------+--------------------+------------+------------+--------+-----+--------------------+
|  22542921|(4) Beach Guest H...|  4765935|2013-01-19|within a few hours|               1.0|                 1.0|                f|                        8|                     f|  Barra da Tijuca|         null|Rio de Janeiro|Private room in b...|Private room|           2|       1| null|                null|
|   2647582|NEVÄ°ZADE'DE YENÄ...|  4406078|2012-12-14|              null|              null|                null|                f|                        8|                     t|          Beyoglu|         null|      Istanbul|    Entire apartment|Entire place|           2|    null| null|                null|
|  40765447|Beautiful beachsi...|214879922|2018-09-11|              null|              null|                 0.0|                f|                        1|                     t|         Waverley|         null|        Sydney|    Entire apartment|Entire place|           4|       2| null|                null|
|  35032281|Amplio Departamen...|178040429|2018-03-12|    within an hour|              0.99|                0.99|                f|                       34|                     t|       Cuauhtemoc|         null|   Mexico City|    Entire apartment|Entire place|           2|       1| null|                null|
|  20096759|Grand studio de 4...|104807182|2016-11-22|              null|              null|                null|                f|                        3|                     f|Enclos-St-Laurent|         null|         Paris|    Entire apartment|Entire place|           2|    null| null|                null|
|  45722884|Best Location In ...|293238741|2019-09-08|within a few hours|               1.0|                 1.0|                f|                        2|                     t|   Hell's Kitchen|    Manhattan|      New York|    Entire apartment|Entire place|           4|       1| null|                null|
|  38714715|Blouberg Beach Ap...|296007866|2019-09-18|    within an hour|               1.0|                 1.0|                f|                        0|                     t|          Ward 23|         null|     Cape Town|    Entire apartment|Entire place|           4|       2| null|                null|
|  33092856|204 - Lapa (Colet...|171869673|2018-02-05|    within an hour|               1.0|                null|                f|                        7|                     f|           Tijuca|         null|Rio de Janeiro|Shared room in house| Shared room|           6|       1| null|                null|
|   5165396|Peaceful Parkside...| 26717676|2015-01-26|    within an hour|               1.0|                null|                t|                        2|                     t|        Woollahra|         null|        Sydney|Private room in t...|Private room|           2|       1| null|                null|
|  31502639|Comfortable room ...|235073206|2019-01-07|within a few hours|               0.8|                0.99|                f|                        5|                     t|           Harlem|    Manhattan|      New York|Private room in a...|Private room|           2|       1| null|                null|
|  41836159|The East River Ap...| 61396454|2016-03-03|    within an hour|              0.97|                0.98|                f|                       21|                     t|          Midtown|    Manhattan|      New York|    Entire apartment|Entire place|           6|       2| null|                null|
|  20991341|ALTO ESTILO BARRA...| 65798450|2016-04-04|      within a day|               1.0|                0.82|                f|                        3|                     f|  Barra da Tijuca|         null|Rio de Janeiro|    Entire apartment|Entire place|           6|       2| null|                null|
|  41455866|Chill room near O...|  5205499|2013-02-24|              null|              null|                 0.6|                f|                        2|                     t|         Gobelins|         null|         Paris|Private room in a...|Private room|           2|       1| null|                null|
|  35149705|           Executive|264438671|2019-05-27|    within an hour|               1.0|                0.95|                f|                        8|                     t|          Reuilly|         null|         Paris|Room in boutique ...|  Hotel room|           3|       1| null|                null|
|  19815455|Appartement chale...|128975108|2017-05-05|              null|              null|                null|                f|                        1|                     f|         Pantheon|         null|         Paris|    Entire apartment|Entire place|           2|    null| null|                null|
|  45606815|MagnÃ­fico espaci...| 37602637|2015-07-05|              null|              null|                0.83|                f|                        0|                     f|       Cuauhtemoc|         null|   Mexico City|Private room in h...|Private room|           2|       1| null|                null|
|  34806022|A World Aparts - ...| 19178087|2014-07-30|    within an hour|              0.88|                0.99|                f|                       26|                     t| I Centro Storico|         null|          Rome|    Entire apartment|Entire place|           6|       1| null|                null|
|  32025631|modern apt in  Su...|128943709|2017-05-05|within a few hours|               1.0|                 1.0|                f|                       61|                     t|          Vadhana|         null|       Bangkok|    Entire apartment|Entire place|           2|       1| null|                null|
|   5828699|.Cozy & lovely ro...| 20968125|2014-09-05|    within an hour|               1.0|                 1.0|                f|                       17|                     t| I Centro Storico|         null|          Rome|Private room in a...|Private room|           3|       1| null|                null|
|  31103559|Three bedrooms house|228608906|2018-12-01|              null|              null|                 1.0|                f|                        1|                     t|         Arrochar|Staten Island|      New York|Private room in h...|Private room|           1|       1| null|                null|
+----------+--------------------+---------+----------+------------------+------------------+--------------------+-----------------+-------------------------+----------------------+-----------------+-------------+--------------+--------------------+------------+------------+--------+-----+--------------------+
only showing top 20 rows

In [8]:
agg_df=raw_df.groupBy("city").agg(count("*").alias("total_listings"),avg("review_scores_rating").\
                           alias("average_rating")).orderBy(col("total_listings").desc(),col("average_rating").desc())

In [9]:
agg_df.show()

+----------------+--------------+------------------+
|            city|total_listings|    average_rating|
+----------------+--------------+------------------+
|           Paris|         64665|  120.522462562396|
|        New York|         37003| 275.7551867219917|
|          Sydney|         33617| 277.2145328719723|
|            Rome|         27622|133.05442176870747|
|  Rio de Janeiro|         26607|1774.3514739229024|
|        Istanbul|         24514| 353.7826086956522|
|     Mexico City|         20046|   551.90756302521|
|         Bangkok|         19352| 2451.938016528926|
|       Cape Town|         19076| 651.7767857142857|
|       Hong Kong|          7086| 466.0584415584416|
|            null|            93|              null|
|               t|             5|              null|
|        Brooklyn|             4|              null|
|     Jacarepagua|             2|              null|
|       Manhattan|             2|              null|
|   Benito Juarez|             1|              null|
|               f|             1|              null|
|    Williamsburg|             1|              null|
|      Basaksehir|             1|              null|
|I Centro Storico|             1|              null|
+----------------+--------------+------------------+
only showing top 20 rows

In [10]:
raw_df.createOrReplaceTempView('airbnb_listings')

In [11]:
query1 = spark.sql("""select listing_id,host_id,district,city from airbnb_listings""")

In [12]:
query1.show()

+----------+---------+-------------+--------------+
|listing_id|  host_id|     district|          city|
+----------+---------+-------------+--------------+
|  22542921|  4765935|         null|Rio de Janeiro|
|   2647582|  4406078|         null|      Istanbul|
|  40765447|214879922|         null|        Sydney|
|  35032281|178040429|         null|   Mexico City|
|  20096759|104807182|         null|         Paris|
|  45722884|293238741|    Manhattan|      New York|
|  38714715|296007866|         null|     Cape Town|
|  33092856|171869673|         null|Rio de Janeiro|
|   5165396| 26717676|         null|        Sydney|
|  31502639|235073206|    Manhattan|      New York|
|  41836159| 61396454|    Manhattan|      New York|
|  20991341| 65798450|         null|Rio de Janeiro|
|  41455866|  5205499|         null|         Paris|
|  35149705|264438671|         null|         Paris|
|  19815455|128975108|         null|         Paris|
|  45606815| 37602637|         null|   Mexico City|
|  34806022| 19178087|         null|          Rome|
|  32025631|128943709|         null|       Bangkok|
|   5828699| 20968125|         null|          Rome|
|  31103559|228608906|Staten Island|      New York|
+----------+---------+-------------+--------------+
only showing top 20 rows